sqlalchemy==1.4.49
fastapi[all]
# Web Framework
Flask==2.0.2
Flask-CORS==3.0.10
Werkzeug==2.0.3

# Data Processing
pandas==1.5.3
openpyxl==3.1.2
numpy==1.24.4
scikit-learn==1.3.0

# Visualization
matplotlib==3.4.3
seaborn==0.11.2

# API
requests==2.26.0

# Utilities
python-dotenv==0.19.0
PyYAML==5.4.1

# Testing
pytest==6.2.5

# Jupyter
jupyter==1.0.0
notebook==6.4.4 

pyarrow==15.0.2

gunicorn