# Web Framework
Flask==2.0.1
Flask-CORS==3.0.10

# Data Processing
pandas==2.2.2
numpy==2.0.2
scikit-learn==1.6.1
prophet==1.1.6

# Visualization
matplotlib==3.9.4
seaborn==0.11.2

# API
requests==2.26.0

# Utilities
python-dotenv==0.19.0
PyYAML==5.4.1

# Testing
pytest==6.2.5

# Jupyter
jupyter==1.0.0
notebook==6.4.4 